.dub
docs.json
__dummy.html
public/
/build/bin/
/build/coverage/
/dosierskanilo
dosierskanilo.so
dosierskanilo.dylib
dosierskanilo.dll
dosierskanilo.a
dosierskanilo.lib
dosierskanilo-test-*
*.exe
*.o
*.obj
*.lst
*~
files